@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --main-color: rgba(31, 123, 118, 1);
  --second-color: rgba(117, 180, 130, 1);
  --third-color: rgba(242, 250, 244, 1);
  --blue-color: rgba(31, 123, 118, 0.9);
}
